img {
    width: 200px;
    height: 200px;
    display: block;
}
news {
    display: flex;
}
.news {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.news .img {
    flex: 1; 
    margin-right: 20px;
    width: 50px;
}

.news img {
    width: 100px; /* Để ảnh tự động điều chỉnh kích thước trong phần ảnh */
    height: auto;
}

.centered {
    text-align: center;
}

/* CSS để tạo khoảng cách giữa các ảnh */
.image-container {
    display: inline-block;
    margin: 10px; /* Thay đổi khoảng cách tùy ý */
}
